/* Box sizing rules and easier REM calculations */

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* START OF STYLES */

:root {
    --base-white: hsl(205, 70%, 98%);
    --base-black: hsl(205, 36%, 6%);
    --pastel-blue: hsl(205, 28%, 85%);
    --steel-teal: hsl(205, 22%, 44%);
    --police-blue: hsl(205, 48%, 27%);
    --deep-aquamarine: hsl(163, 32%, 37%); 
    --dark-sea-green:  	hsl(142, 36%, 59%);
    --contrast-yellow: hsl(60, 95%, 78%);
    --contrast-orange: hsl(30, 95%, 78%);
    --contrast-red: hsl(0, 95%, 83%);
    --contrast-yellow-faded: hsla(60, 90%, 78%, 0.1);
    --contrast-orange-faded: hsla(30, 90%, 78%, 0.1);
    --contrast-red-faded: hsla(0, 90%, 83%, 0.1);
    --contrast-red-glow: hsla(0, 90%, 75%, 0.2)

    --shadow-blue: hsla(204, 40%, 10%, 1);
    --shadow-blue-07: hsla(204, 40%, 10%, 0.7);
    --shadow-blue-03: hsla(204, 40%, 10%, 0.3);
    --shadow-green: hsla(142, 40%, 10%, 0.7);
}

body {
    font-size: clamp(16px, 1.8rem, 20px);
    color: var(--base-white);
    background: var(--base-black);
    height: 100%;
    width: 100%;
}

h1 {
    font-size: clamp(24px, 2.8rem, 30px);
}

h2 {
    font-size: clamp(22px, 2.4rem, 28px);
}

button {
    background: var(--base-black);
    color: var(--base-white);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    scale: 1;
    box-shadow: 0 2px 5px var(--shadow-blue-07);
    transition: scale 200ms ease-in-out,
                box-shadow 200ms ease-in-out;
}

button:hover,
button:focus-within {
    scale: 1.1;
    box-shadow: 0 2px 8px var(--shadow-blue);
}

input {
    padding-left: 1.5rem;
    border-radius: 1rem;
    background: var(--base-white);
    box-shadow: inset 0 0 2px var(--contrast-yellow),
                inset 0 0 10px var(--contrast-yellow-faded);
}

textarea {
    min-width: 100%;
    padding-left: 1.5rem;
    background: var(--base-white);
    border-radius: 1rem;
}

#app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background: var(--base-black);
}

#welcome-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 30px 20px var(--contrast-red-faded),
                inset 0 0 10px var(--contrast-red),
                inset 0 0 1px white;
    border-radius: 1rem;
    flex-direction: column;
    gap: 2rem;
    height: 60vh;
    width: 60vw;
}

#welcome-flex > input {
    margin: 2rem 0;
}

#welcome-title {
    text-align: center;
}

#dashboard-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20px, repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#dashboard-header {
    grid-column: 2 / 9;
    grid-row: 1 / 2;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--base-white);
    background: var(--base-black);
}

#user-name {
    background-image: linear-gradient(97deg, var(--base-white), var(--contrast-orange-faded)), 
                      linear-gradient(0deg, var(--base-white), var(--contrast-red-faded));
    background-clip: text;
    color: transparent;
    font-size: clamp(24px, 3rem, 32px);
    font-weight: 900;
    width: 100%;
}

#header-utils-flex {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

#search-bar {
    width: 40vw;
    background-image: linear-gradient(0deg, var(--base-white) 10%, var(--contrast-orange-faded)),
                    linear-gradient(195deg, var(--base-white) 10%, var(--contrast-yellow-faded));
}

/* INVISIBLE BUTTONS WITH IMAGES */

.btn-container {
    height: 30px;
    width: 30px;
    position: relative;
    scale: 1;
    transition: scale 200ms ease-in-out;
}

.btn-container:hover,
.btn-container:focus-within {
    scale: 1.2;
}

#create-project-btn,
.delete-project-btn,
#right-todos-btn,
#left-todos-btn {
    height: 30px;
    width: 30px;
    scale: 1;
    filter: invert(90%);
    transition: scale 200ms ease-in-out;
}

.invisible-btn {
    position: absolute;
    align-self: flex-end;
    content: "";
    top: 0;
    left: 0;
    z-index: 1;
    height: 30px;
    width: 30px;

    background: transparent;
    border: none;
    color: transparent;
    outline: none;
    box-shadow: none;
}

.invisible-btn:hover,
.invisible-btn:focus-within {
    box-shadow: none;
    scale: 1;
}

.delete-project-btn:hover,
.delete-project-btn:focus-within,
#create-project-btn:hover,
#create-project-btn:focus-within,
#left-todos-btn:hover,
#left-todos-btn:focus-within,
#right-todos-btn:hover,
#right-todos-btn:focus-within {
    scale: 1.2;
}

/* DASHBOARD SIDEBAR */

#dashboard-sidebar {
    position: sticky;
    grid-column: 1 / 2;
    grid-row: 1 / 7;
    z-index: 3;
    left: 0;
    height: 100%;
    background-image: var(--base-black);
}

/* PROJECT GRID */

#project-grid {
    grid-column: 2 / 9;
    grid-row: 2 / 7;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    justify-content: center;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    min-height: 100%;
    min-width: 100%;
    box-shadow: inset 0 0 3px var(--contrast-yellow),
                inset 0 0 6px var(--contrast-yellow-faded);
}

[id^="project-card-"] {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    gap: 1rem;

    border-radius: 1rem;
    padding: 1rem;

    height: 250px;
    width: 300px;

    scale: 1;
    background: var(--shadow-blue);
    box-shadow: inset 0 0 5px var(--contrast-yellow-faded);
    transition: scale 200ms ease-in-out,
                background 200ms ease-in-out,
                box-shadow 200ms ease-in-out;
}

[id^="project-card-"]:not(.expanded):hover,
[id^="project-card-"]:not(.expanded):focus-within {
    scale: 1.02;
    background: var(--shadow-blue);
    box-shadow: inset 0 0 10px var(--contrast-yellow);
}

[id^="project-card-"].expanding {
    position: absolute;
    z-index: 10;
}

[id^="project-card-"].shrinking {
    position: absolute;
    z-index: 10;
}

[id^="project-card-"].expanded {
    grid-column: 2 / 9;
    grid-row: 2 / 7;
    min-height: 100%;
    min-width: 100%;
    padding: 1rem;
    border-radius: 0;

    display: grid;
    align-items: start;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 10fr 35px;
}

[id^="project-card-"] > .project-title {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    padding-left: 2.5rem;
    text-shadow: 0 0 2px var(--contrast-orange);
}

[id^="project-card-"] > .project-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    max-width: 30ch; 
    grid-column: 1 / 6;
    grid-row: 2 / 4;
    color: var(--pastel-blue);
}

/* Expanded Project Card */

[id^="project-card-"].expanded > .project-title {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}

[id^="project-card-"].expanded > .project-description {
    grid-column: 1 / 6;
    grid-row: 2 / 3;

}

/* Todo List */

[id^="project-card-"].expanded > .project-todos-list-container.invisible {
    opacity: 0;
    width: 100%;
}


[id^="project-card-"].expanded > .project-todos-list-container {
    opacity: 1;
    grid-column: 1 / 6;
    grid-row: 3 / 4;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 35px;
    grid-auto-rows: 1fr;
    justify-self: start;
    box-shadow: inset 0 0 3px var(--contrast-orange),
                inset 0 0 10px var(--contrast-orange-faded);
    border-radius: 1rem;
    padding: 2rem;
    opacity: 1;
    overflow: scroll;

    transition: opacity 300ms ease-in-out;
    
}

.project-todos-list-title {
    grid-column: 1 / 2;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 0 0 2px var(--contrast-orange);
}

.project-todos-checkbox-title {
    grid-column: 5 / 6;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 0 0 2px var(--contrast-orange);
}

.project-todos-list {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin: 0;
    grid-column: 1 / 6;
}

.todo-check-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

/* Progress bar */
.progress-bar {
    position: relative;
    z-index: 2;
    height: 10px;
    width: 0;
    border-radius: 9999px;
    box-shadow: inset 0 0 2px white,
                inset 0 0 5px var(--contrast-red),
                inset 0 0 20px var(--contrast-yellow-faded);
    transition: width 300ms ease-in-out,
                box-shadow 300ms ease-in-out;
}

.progress-bar.full {
    background: var(--dark-sea-green);
    box-shadow: inset 0 0 2px white,
                inset 0 0 5px var(--base-white),
                inset 0 0 20px var(--contrast-yellow-faded);
}

.progress-bar-bg {
    background: var(--steel-teal);
    
    position: relative;
    border-radius: 9999px;
    top: 0;
    left: 0;
    width: 90%;
    height: 10px;
}

.project-utils {
    grid-column: 1 / 6;
    grid-row: 7 / 8;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    padding: 0 1rem 0 2rem;
    align-items: center;
    justify-content: space-between;
}

[id^="project-card-"].expanded > .project-utils {
    grid-row: 4 / 5;
    padding: 0 2rem 0 4rem;
}

/* EXPANDED TODO CARD */
.todo-title-checkbox-container {
    grid-column: 1 / 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--contrast-orange-faded);
    padding: 0 1rem;
    height: 4rem;

    transition: height 300ms ease-in-out,
                padding 300ms ease-in-out,
                align-items 300ms ease-in-out;
}

.todo-container:first-of-type {
    border-radius: 1rem 1rem 0 0;
}
.todo-container:last-of-type {
    border-radius: 0 0 1rem 1rem;
}

.checkbox-container input[type="checkbox"] {
    position: relative;
    top: -35%;
    left: -40%;
    height: 32px;
    width: 32px;
    opacity: 0;
    z-index: 3;
}

.checkbox-container {
    position: relative;
    content: "";
    height: 26px;
    width: 26px;
    top: 0;
    left: 0;
    border-radius: 13px;
    border: 2px solid var(--contrast-red);
    box-shadow: inset 0 0 5px var(--contrast-red-glow);
    scale: 1;
    transition: scale 200ms ease-in-out,
                border 200ms ease-in-out,
                box-shadow 200ms ease-in-out;

}

.checkbox-container:hover,
.checkbox-container:focus-within {
    scale: 1.2;
}

.todo-check-image-left {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    height: 3px;
    width: 22px;
    border: 2px solid var(--contrast-red);
    box-shadow: 0 0 4px var(--contrast-red-glow);

    transition: left 200ms ease-in-out,
                width 200ms ease-in-out,
                border 200ms ease-in-out,
                box-shadow 200ms ease-in-out;
}

.todo-check-image-right {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    height: 3px;
    width: 22px;
    border: 2px solid var(--contrast-red);
    box-shadow: 0 0 4px var(--contrast-red-faded);

    transition: translateX 200ms ease-in-out,
                translateY 200ms ease-in-out,
                top 200ms ease-in-out,
                left 200ms ease-in-out,
                width 200ms ease-in-out,
                border 200ms ease-in-out,
                box-shadow 200ms ease-in-out;
}

.todo-check:checked ~ .todo-check-image-left {
    top: 50%;
    left: 58%;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    height: 3px;
    width: 18px;
    border: 2px solid hsl(150, 90%, 70%);
    box-shadow: 0 0 4px hsla(150, 90%, 90%, 0.7);
}

.todo-check:checked ~ .todo-check-image-right {
    top: 50%;
    left: 10%;
    transform: rotate(45deg);
    height: 3px;
    width: 6px;
    border: 2px solid hsl(150, 90%, 70%);
    box-shadow: 0 0 4px hsla(150, 90%, 90%, 0.7);
}

.todo-container.expanded {
    height: 45vh;
    align-items: start;
    padding-top: 1rem;
    border-radius: 1rem;
}

.expanded-todo-info {
    grid-column: 1 / 6;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    opacity: 1;
}

.expanded-todo-info.invisible {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.todo-container.shrink {
    height: 0;
    overflow: hidden;
}


/* MODALS */

#create-project-modal-container,
#delete-project-modal-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: var(--shadow-blue-03);
    z-index: 100;
}

#create-project-form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    min-width: 95vw;
    background: var(--base-black);
    padding: 1rem 2rem;
}

#create-project-form > input,
#create-project-form > textarea {
    background: var(--base-white);
}

#create-project-title {
    margin-bottom: 1rem;
}

#create-project-form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem; 
    border-radius: 1rem;
    box-shadow: 0 2px 5px hsla(0, 0%, 50%, 0.7);
}

#create-project-title {
    grid-column: 1 / 6;
    text-align: center;
}

#create-project-form > label {
    grid-column: 1 / 3;
}

#create-project-form > input,
#create-project-form > textarea {
    grid-column: 3 / 6;
}

#confirm-create-project-btn {
    grid-column: 2 / 3;
    box-shadow: inset 0 0 5px hsl(150, 90%, 70%),
                0 0 5px var(--pastel-blue);
    scale: 1.2;
}

#confirm-create-project-btn:disabled {
    scale: 1;
    grid-column: 2 / 3;
    box-shadow: inset 0 0 5px hsl(0, 90%, 70%);
    background: var(--shadow-blue);
}

.warn-hl {
    color: hsl(0, 90%, 70%);
}

[name^="new-todo-name-"] {
    position: relative;
}

[name^="new-todo-name-"]::after {
    position: absolute;
    content: "HELLO!";
    color: hsl(0, 90%, 70%);
}

button {
    box-shadow: none;
}

button:disabled,
button:disabled:hover,
button:disabled:focus-within {
    box-shadow: inset 0 0 5px hsl(0, 90%, 70%);
    scale: 1;
}

#cancel-create-project-btn {
    grid-column: 4 / 5;
}

#todo-input-container {
    grid-column: 1 / 6;
    position: relative;
    display: grid;

    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    min-height: 40vh;
}

#todo-input-container-title {
    margin-top: 2rem;
    grid-column: 1 / 4;
}

.create-project-todo-input {
    max-height: 30px;
}

.create-project-todo-textarea {
    max-height: 60px;
}

[id^="warn-"] {
    color: hsl(0, 90%, 72%);
    text-shadow: 0 0 1px var(--contrast-yellow);
    grid-column: 1 / 6;
    text-align: center;
}

[id^="todo-input-card-"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    left: 0;
    opacity: 1;

    width: 60vw;
    border: 1px solid var(--pastel-blue);
    padding: 2rem 3rem;
    border-radius: 1rem;
    box-shadow: inset 0 2px 10px var(--contrast-yellow-faded);
    transition: opacity 250ms ease-in-out,
                left 350ms ease-in-out;
}

[id^="todo-input-card-"].hide-right {
    position: absolute;
    z-index: 101; 
    left: 150%;
    top: -0.1rem;
    opacity: 0;
    transition: opacity 250ms ease-in-out,
                left 350ms ease-in-out;
}


[id^="todo-input-card-"].hide-left {
    position: absolute;
    z-index: 101; 
    top: -0.1rem;
    left: -150%;
    opacity: 0;
}

.todo-input-card-title {
    grid-column: 1 / 3;
    text-align: center;
}

[id^="todo-input-card-"] > textarea {
    grid-column: 1 / 3;
}

#left-right-todo-btns-container {
    grid-column: 1 / 6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}


#delete-project-modal-inner {
    min-height: 30vh;
    min-width: 50vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background: white;
    box-shadow: 0 2px 5px hsla(0, 0%, 50%, 0.7);
}

#delete-project-modal-title {
    grid-column: 1 / 6;
}

#confirm-delete-project-btn {
    grid-column: 2 / 3;
}

#cancel-delete-project-btn {
    grid-column: 4 / 5;
}

