/* Box sizing rules and easier REM calculations */

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* START OF STYLES */

:root {
    --base-white: hsl(205, 70%, 98%);
    --base-black: hsl(205, 36%, 6%);
    --base-black-fade: hsla(205, 36%, 6%, 0.1);
    --pastel-blue: hsl(205, 28%, 85%);
    --steel-teal: hsl(205, 22%, 44%);
    --police-blue: hsl(205, 48%, 27%);
    --deep-aquamarine: hsl(163, 32%, 37%); 
    --dark-sea-green:  	hsl(142, 36%, 59%);

    --contrast-green: hsl(150, 95%, 78%);
    --contrast-green-faded: hsl(150, 95%, 78%, 0.1);
    --contrast-green-glow: hsl(150, 90%, 70%, 0.5);

    --contrast-yellow: hsl(60, 95%, 78%);
    --contrast-orange: hsl(30, 95%, 78%);
    --contrast-red: hsl(0, 95%, 83%);
    --contrast-yellow-faded: hsla(60, 90%, 78%, 0.1);
    --contrast-orange-faded: hsla(30, 90%, 78%, 0.1);
    --contrast-red-faded: hsla(0, 90%, 83%, 0.1);
    --contrast-yellow-glow: hsla(60, 90%, 70%, 0.5);
    --contrast-orange-glow: hsla(30, 90%, 70%, 0.5);
    --contrast-red-glow: hsla(0, 90%, 75%, 0.5);

    --shadow-blue: hsla(204, 40%, 10%, 1);
    --shadow-blue-07: hsla(204, 40%, 10%, 0.7);
    --shadow-blue-03: hsla(204, 40%, 10%, 0.3);
    --shadow-green: hsla(142, 40%, 10%, 0.7);

    --ff-urbanist-400: 'Urbanist', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --ff-urbanist-italic: 'Urbanist', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

   --ff-urbanist-700: 'Urbanist', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

@font-face {
  font-family: 'Urbanist';
  src: url('./assets/fonts/Urbanist-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Urbanist-Italic';
  src: url('./assets/fonts/Urbanist-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Urbanist-Heavy';
  src: url('./assets/fonts/Urbanist-VariableFont_wght.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

body {
    font-size: clamp(16px, calc(1.5rem + 0.25vw), 22px);
    color: var(--base-white);
    background: var(--base-black);
    font-family: var(--ff-urbanist-400);
}

h1 {
    font-size: clamp(28px, calc(2.7rem + 0.25vw), 36px);
    font-family: var(--ff-urbanist-700);
}

h2 {
    font-size: clamp(24px, calc(2.3rem + 0.25vw), 32px);
    font-family: var(--ff-urbanist-700);
}

h3 {
    font-size: clamp(20px, calc(1.9rem + 0.25vw), 26px);
    font-family: var(--ff-urbanist-700);
}

h4 {
    font-size: clamp(18px, calc(1.7rem + 0.25vw), 24px);
    font-family: var(--ff-urbanist-400);
}

h5 {
    font-size: clamp(18px, calc(1.7rem + 0.25vw), 24px);
    font-family: var(--ff-urbanist-400);
    opacity: 0.7;
}

label {
    font-size: clamp(20px, calc(1.9rem + 0.25vw), 26px);
    font-family: var(--ff-urbanist-700);
}

button:not(.invisible-btn) {
    background: var(--shadow-blue);
    color: var(--base-white);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    scale: 1;
    opacity: 1;
    border: none;
    outline: none;
    box-shadow: inset 0 0 1px var(--base-white),
                0 0 5px var(--base-black),
                inset 0 0 5px var(--contrast-yellow),
                inset 0 0 10px var(--contrast-yellow-faded);
    transition: opacity 200ms ease-in-out,
                scale 200ms ease-in-out,
                box-shadow 200ms ease-in-out;
    font-family: var(--ff-urbanist-400);
}

button:disabled,
button:disabled:hover,
button:disabled:focus-within {
    box-shadow: inset 0 0 1px var(--base-white),
                0 0 5px var(--base-black),
                inset 0 0 5px var(--contrast-red),
                inset 0 0 10px var(--contrast-red-faded);
    scale: 1;
    opacity: 0.7;
}

button:not(.invisible-btn):hover,
button:not(.invisible-btn):focus-within {
    scale: 1.2;
    box-shadow: inset 0 0 2px var(--base-white),
                0 0 5px var(--base-black),
                inset 0 0 8px var(--contrast-yellow),
                inset 0 0 16px var(--contrast-yellow-faded);
}

button.activated {
    scale: 1.1;
    box-shadow: inset 0 0 2px var(--base-white),
                0 0 5px var(--base-black),
                inset 0 0 6px var(--contrast-green),
                inset 0 0 12px var(--contrast-green-faded);
}

button.activated:hover,
button.activated:focus-within {
    scale: 1.2;
    box-shadow: inset 0 0 2px var(--base-white),
                0 0 5px var(--base-black),
                inset 0 0 8px var(--contrast-green),
                inset 0 0 16px var(--contrast-green-faded);
}

input {
    background: var(--shadow-blue-07);
    color: var(--base-white);
    border-radius: 1rem;
    outline: none;
    border: none;
    height: 50px;
    box-shadow: inset 0 0 10px var(--contrast-yellow-faded),
            inset 0 0 5px var(--contrast-yellow),
            inset 0 0 1px var(--base-white);
    padding-left: 1.5rem;
}

input:focus-within {
    box-shadow: 0 0 10px var(--contrast-yellow-faded), 
            inset 0 0 16px var(--contrast-yellow-faded),
            inset 0 0 8px var(--contrast-yellow),
            inset 0 0 2px var(--base-white);
}

input.required {
    box-shadow: inset 0 0 10px var(--contrast-red-faded),
            inset 0 0 5px var(--contrast-red),
            inset 0 0 1px var(--base-white);
}


input.required:focus-within {
    box-shadow: 0 0 10px var(--contrast-red-faded), 
            inset 0 0 16px var(--contrast-red-faded),
            inset 0 0 8px var(--contrast-red),
            inset 0 0 2px var(--base-white);
}

textarea {
    background: var(--shadow-blue-07);
    color: var(--base-white);
    border-radius: 1rem;
    min-width: 100%;
    padding-left: 1.5rem;
    height: 50px;
    outline: none;
    border: none;
    box-shadow: inset 0 0 10px var(--contrast-yellow-faded),
            inset 0 0 5px var(--contrast-yellow),
            inset 0 0 1px var(--base-white);

    font-family: 'Urbanist', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea:focus-within {
    box-shadow: 0 0 10px var(--contrast-yellow-faded), 
            inset 0 0 16px var(--contrast-yellow-faded),
            inset 0 0 8px var(--contrast-yellow),
            inset 0 0 2px var(--base-white);
}

#app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--base-black);
}

#welcome-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 30px 20px var(--contrast-red-faded),
                inset 0 0 10px var(--contrast-red),
                inset 0 0 1px white;
    border-radius: 1rem;
    flex-direction: column;
    gap: 2rem;
    height: 60vh;
    width: 60vw;
}

#welcome-flex > input {
    margin: 2rem 0;
}

#welcome-title {
    text-align: center;
}

#dashboard-container {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 9fr;
    overflow: hidden;
}

#dashboard-header {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    padding: 0 4rem;
    min-height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--base-white);
    background: var(--base-black);
    transition: padding 200ms ease-in-out;
}
#user-name-container {
    position: relative;
}


#user-name {
    width: fit-content;
    font-size: 32px;
    padding: 0 3rem;
    transition: padding, 200ms ease-in-out,
                text-shadow 500ms ease-in-out,
                border 250ms ease-in-out,
                color 300ms ease-in-out;
}

#user-name.green {
    color: var(--contrast-green-glow);
    
    box-shadow: inset 0 -12px 20px var(--base-black);
    text-shadow: 0 0.1px 1px var(--base-white),
                0 0 3px var(--contrast-green);
}
#user-name.orange {
    color: var(--contrast-orange-glow);

    box-shadow: inset 0 -12px 20px var(--base-black);
    text-shadow: 0 0 1px var(--base-white),
                0 0 3px var(--contrast-orange);
}
#user-name.red {
    color: var(--contrast-red-glow);

    box-shadow: inset 0 -12px 20px var(--base-black);
    text-shadow: 0 0 1px var(--base-white),
                0 0 3px var(--contrast-red);
}
#user-name.yellow {
    color: var(--contrast-yellow-glow);

    box-shadow: inset 0 -12px 20px var(--base-black);
    text-shadow: 0 0 1px var(--base-white),
                0 0 3px var(--contrast-yellow);
}

#user-name-mask {
    position: absolute;
    width: fit-content;
    opacity: 0.6;
    height: 56px;
    width: 100%;
    padding: 4px 3rem;
    top: 0;
    left: 0;
    background: linear-gradient(-20deg, var(--base-black-fade) 43%, var(--base-black));
}

#header-utils-flex {
    height: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

/* SEARCH BAR */

#search-bar-container {
    position: relative;
}

#search-bar-container > input {
    min-height: 55px;
}

#search-image-glass {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translateX(-50%) translateY(-50%);

    border: 3px solid transparent;
    box-shadow: inset 0 0 1px var(--base-white),
                inset 0 0 5px var(--contrast-yellow),
                inset 0 0 10px var(--contrast-yellow-faded),
                0 0 1px var(--base-white),
                0 0 5px var(--contrast-yellow),
                0 0 10px var(--contrast-yellow-faded);
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
    opacity: 1;
    transition: scale 200ms ease-in-out,
                top 200ms ease-in-out,
                left 200ms ease-in-out,
                border 200ms ease-in-out;
    scale: 1;
    z-index: 3;
}

#search-image-handle {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: rotate(45deg) translateY(-50%);

    height: 3px;
    width: 13px;
    border-radius: 9999px;
    box-shadow: inset 0 0 1px var(--base-white),
                inset 0 0 5px var(--contrast-yellow),
                inset 0 0 10px var(--contrast-yellow-faded),
                0 0 1px var(--base-white),
                0 0 3px var(--contrast-yellow),
                0 0 6px var(--contrast-yellow-faded);
    background: var(--base-black);
    transition: scale 200ms ease-in-out,
                box-shadow 200ms ease-in-out,
                top 200ms ease-in-out,
                left 200ms ease-in-out,
                rotate 200ms ease-in-out;
    scale: 1;
    z-index: 2;
}

#search-image-glass.minify {
    height: 25px;
    width: 25px;
    top: 10%;
    left: -20px;
    box-shadow: 0 0 1px var(--base-white),
                0 0 3px var(--contrast-yellow),
                0 0 6px var(--contrast-yellow-faded);
    border: 2px solid var(--contrast-yellow-glow);
    scale: 1;
    transition: scale 200ms ease-in-out;

}

#search-image-handle.minify {
    transform: rotate(0deg); 
    width: 12px;
    top: 7%;
    left: -25px;
}

#toggle-search-bar:hover ~ #search-image-handle.minify,
#toggle-search-bar:focus-within ~ #search-image-handle.minify,
#toggle-search-bar:hover ~ #search-image-glass.minify,
#toggle-search-bar:focus-within ~ #search-image-glass.minify {
    scale: 1.2;
}

#toggle-search-bar {
    z-index: 10;
}

#toggle-search-bar.activate {
    top: -25%;
    left: -11%;
    height: 55px;
    width: 55px;
}

#search-bar {
    border-radius: 27.5px;
    border: 2px solid var(--contrast-yellow);
    width: 55px;
    height: 55px;
    scale: 1;
    color: transparent;
    transition: box-shadow 200ms ease-in-out,
                color 200ms ease-in-out,
                width 200ms ease-in-out,
                scale 200ms ease-in-out;
}

#search-bar.active {
    border-radius: 9999px;
    color: var(--base-white);
    width: 40vw;
    height: 30px;
}

#search-bar-container:hover > #search-bar:not(.active), 
#search-bar-container:focus-within > #search-bar:not(.active) {
    scale: 1.1;
    box-shadow: inset 0 0 1px var(--base-white),
                inset 0 0 5px var(--contrast-yellow),
                inset 0 0 10px var(--contrast-yellow-faded),
                0 0 1px var(--base-white),
                0 0 3px var(--contrast-yellow),
                0 0 6px var(--contrast-yellow-faded);
}

#search-bar-container:hover > #search-image-glass,
#search-bar-container:focus-within > #search-image-glass {
    border: 2px solid var(--contrast-yellow-glow);
}

#search-bar-container:hover > #search-image-handle,
#search-bar-container:focus-within > #search-image-handle {
    box-shadow: inset 0 0 1px var(--base-white),
                inset 0 0 5px var(--contrast-yellow),
                inset 0 0 10px var(--contrast-yellow-faded),
                0 0 1px var(--base-white),
                0 0 5px var(--contrast-yellow),
                0 0 10px var(--contrast-yellow-faded);
}

#search-bar::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/* INVISIBLE BUTTONS */

.btn-container {
    position: relative;
}


.right-todos-btn-top,
.left-todos-btn-top,
.right-todos-btn-bottom,
.left-todos-btn-bottom {
    position: absolute;
    top: 0;
    left: 45%;
    transform: translateX(-50%);
    height: 25px;
    width: 5px;
    border-radius: 5px;
    background: none;
    border: 1px solid var(--contrast-green);
    box-shadow: inset 0 0 1px var(--base-white),
                inset 0 0 5px var(--contrast-green),
                0 0 10px var(--contrast-green-faded);
    transition: box-shadow 200ms ease-in-out,
                background 200ms ease-in-out;
}

.right-todos-btn-top,
.left-todos-btn-top {
    top: 12%;
}

.right-todos-btn-bottom,
.left-todos-btn-bottom {
    top: 43%;
}
.left-todos-btn-bottom,
.right-todos-btn-top {
    transform: rotate(-45deg);
}

.left-todos-btn-top,
.right-todos-btn-bottom {
    transform: rotate(45deg);
}

.left-todo-container-two,
.right-todo-container-two,
.left-todo-container-three,
.right-todo-container-three {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 0;
    top: 0;
    transition: left 200ms ease-in-out;
}

.btn-container:focus-within > .left-todo-container-two,
.btn-container:hover > .left-todo-container-two {
    left: -25%;
}

.btn-container:focus-within > .left-todo-container-three,
.btn-container:hover > .left-todo-container-three {
    left: -50%;
}

.btn-container:hover > .right-todo-container-two,
.btn-container:focus-within > .right-todo-container-two {
    left: 25%;
}
.btn-container:hover > .right-todo-container-three,
.btn-container:focus-within > .right-todo-container-three {
    left: 50%;
}

.btn-container:focus-within .left-todos-btn-top,
.btn-container:focus-within .left-todos-btn-bottom,
.btn-container:focus-within .right-todos-btn-top,
.btn-container:focus-within .right-todos-btn-bottom,
.btn-container:hover .left-todos-btn-top,
.btn-container:hover .left-todos-btn-bottom,
.btn-container:hover .right-todos-btn-top,
.btn-container:hover .right-todos-btn-bottom {
    background: var(--contrast-green-glow);
    box-shadow: inset 0 0 1px var(--base-white),
                inset 0 0 7px var(--contrast-green),
                0 0 14px var(--contrast-green-faded);
}

.btn-container > #create-project-btn {
    position: relative;
    height: 55px;
    width: 55px;
    border-radius: 27.5px;
    background: none;
    border: 2px solid var(--contrast-green);
    box-shadow: inset 0 0 1px var(--base-white),
                inset 0 0 5px var(--contrast-green),
                inset 0 0 10px var(--contrast-green-faded);
    transition: scale 200ms ease-in-out,
                box-shadow 200ms ease-in-out;
    scale: 1;
}

.btn-container:hover > #create-project-btn,
.btn-container:focus-within > #create-project-btn {
    box-shadow: 0 0 1px var(--base-white),
                0 0 5px var(--contrast-green),
                0 0 10px var(--contrast-green-faded),
                inset 0 0 1px var(--base-white),
                inset 0 0 5px var(--contrast-green),
                inset 0 0 10px var(--contrast-green-faded);
    scale: 1.1;
}

.btn-container > .create-project-btn-horizontal,
.btn-container > .create-project-btn-vertical {
    position: absolute;
    width: 25px;
    height: 3px;
    border-radius: 9999px;
    box-shadow: 0 0 1px var(--base-white),
                0 0 4px var(--contrast-green),
                0 0 8px var(--contrast-green-faded);
    transition: box-shadow 200ms ease-in-out;
}

.btn-container > .create-project-btn-horizontal-blackout,
.btn-container > .create-project-btn-vertical-blackout {
    position: absolute;
    background: var(--base-black);
    width: 20px;
    height: 3px;
    border-radius: 9999px;
    top: 50%;
    left: 50%;
    z-index: 3;
    transition: background 200ms ease-in-out;
}


.btn-container:hover > .create-project-btn-horizontal-blackout,
.btn-container:hover > .create-project-btn-vertical-blackout, 
.btn-container:focus-within > .create-project-btn-horizontal-blackout,
.btn-container:focus-within > .create-project-btn-vertical-blackout {
    background : var(--contrast-green-glow);
}
.btn-container > .create-project-btn-horizontal-blackout {
    transform: translateX(-50%) translateY(-50%);
}

.btn-container > .create-project-btn-vertical-blackout {
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
    transform-origin: 50% 50%;
}

.btn-container > .create-project-btn-horizontal {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.btn-container > .create-project-btn-vertical {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
    transform-origin: 50% 50%;
}

.btn-container:hover > .create-project-btn-vertical,
.btn-container:hover > .create-project-btn-horizontal,
.btn-container:focus-within > .create-project-btn-vertical,
.btn-container:focus-within > .create-project-btn-horizontal {

    box-shadow: inset 0 0 1px var(--base-white),
                inset 0 0 4px var(--contrast-green),           
                inset 0 0 8px var(--contrast-green-faded), 
                0 0 2px var(--base-white),
                0 0 5px var(--contrast-green),
                0 0 10px var(--contrast-green-faded);

}

.invisible-btn {
    position: absolute;
    align-self: flex-end;
    content: "";
    top: 0;
    left: 0;
    z-index: 10;
    background: transparent;
    border: none;
    color: transparent;
    outline: none;
    box-shadow: none;
}

.small-btn {
    height: 30px;
    width: 30px;
}

.big-btn {
    height: 50px;
    width: 50px;
}

.header-btn {
    height: 55px;
    width: 55px;
}

/* DELETE PROJECT BUTTON */

.delete-btn-container {
    position: relative;
    opacity: 0.9;
}

.bin-body,
.bin-lid-top,
.bin-lid-bottom,
.bin-lid-top-blackout,
.bin-lid-bottom-blackout,
.bin-body-line-one,
.bin-body-line-two,
.bin-body-line-three {
    position: absolute;
}

.bin-body,
.bin-lid-bottom,
.bin-lid-top {
    background: transparent;
    border: 2px solid var(--contrast-yellow);
    box-shadow: 0 0 1px var(--base-white),
                0 0 3px var(--contrast-yellow),
                0 0 5px var(--contrast-yellow-faded);
}

.bin-body-line-one,
.bin-body-line-two,
.bin-body-line-three {
    background: var(--contrast-yellow);
    height: 2px;
    width: 18px;
    box-shadow: 0 0 2px var(--contrast-yellow),
                0 0 5px var(--contrast-yellow-faded);
}

.bin-body {
    top: 30%;
    left: 30%;
    height: 26px;
    width: 24px;
    transform: perspective(3rem) rotateX(-15deg);
    border-radius: 2px;
    border-top: 0px solid var(--contrast-yellow);
}

.bin-body-line-one {
    top: 48%;
    left: 23%;
    transform: rotate(85deg);
}

.bin-body-line-two {
    top: 48%;
    left: 35%;
    transform: rotate(90deg);
}

.bin-body-line-three {
    top: 48%;
    left: 47%;
    transform: rotate(95deg);
}

.bin-lid-bottom {
    top: 15%;
    left: 22%;
    width: 32px;
    height: 6px;
    border-radius: 9999px;
}

.bin-lid-top {
    top: 5%;
    left: 33%;
    width: 21px;
    height: 6px;
    border-radius: 9999px;
}

.bin-lid-bottom-blackout {
    background: var(--shadow-blue);
    border-radius: 9999px;
    opacity: 0.5;
    height: 3px;
    width: 28px;
    top: 18%;
    left: 25%;
    z-index: 2;
}

.bin-lid-top-blackout {
    background: var(--shadow-blue);
    opacity: 0.5;
    border-radius: 9999px;

    width: 18px;
    height: 3px;
    top: 8%;
    left: 35%;
    z-index: 2;
}

.bin-lid-top,
.bin-lid-top-blackout,
.bin-lid-bottom,
.bin-lid-bottom-blackout {
    transform: rotate(0deg);
    transform-origin: 100% 50%;
    transition: transform 60ms ease-in-out;
}

.delete-btn-container:hover > .bin-lid-top,
.delete-btn-container:focus-within > .bin-lid-top,
.delete-btn-container:hover > .bin-lid-top-blackout,
.delete-btn-container:focus-within > .bin-lid-top-blackout,
.delete-btn-container:focus-within > .bin-lid-bottom,
.delete-btn-container:hover > .bin-lid-bottom,
.delete-btn-container:focus-within > .bin-lid-bottom-blackout,
.delete-btn-container:hover > .bin-lid-bottom-blackout {
    transform: rotate(30deg);
} 


.delete-btn-container:hover > .bin-lid-top,
.delete-btn-container:focus-within > .bin-lid-top {
    top: 2%;
    left: 37%;
}
.delete-btn-container:hover > .bin-lid-top-blackout,
.delete-btn-container:focus-within > .bin-lid-top-blackout {
    top: 1%;
    left: 39%;
}
/* DASHBOARD SIDEBAR */

#dashboard-sidebar {
    position: sticky;
    grid-column: 1 / 2;
    grid-row: 1 / 7;
    z-index: 3;
    left: 0;
    width: 0%;
    height: 100%;
    background-image: var(--base-black);
}

/* PROJECT GRID */

#project-grid-outer {
    grid-column: 1 / 9;
    grid-row: 2 / 7;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 3px var(--contrast-yellow),
                inset 0 0 9px var(--contrast-yellow-faded);
    padding: 0.7rem;
}

#project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    height: 88vh;
    width: 98vw;
    overflow: scroll;
}


[id^="project-card-"] {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    gap: 1rem;

    border-radius: 1rem;
    padding: 1rem;

    height: 250px;
    width: 300px;

    scale: 1;
    background: var(--shadow-blue);
    box-shadow: inset 0 0 5px var(--contrast-orange-faded),
                inset 0 0 2px var(--contrast-orange);

    will-change: transform;
    opacity: 1;
    transition: opacity 100ms ease-in-out,
                scale 200ms ease-in-out,
                background 200ms ease-in-out,
                box-shadow 200ms ease-in-out;
}

[id^="project-card-"].search-invisible {
    opacity: 0;
}

[id^="project-card-"]:not(.expanded):hover,
[id^="project-card-"]:not(.expanded):focus-within {
    scale: 1.02;
    background: var(--shadow-blue);
    box-shadow: inset 0 0 2px var(--base-white),
                inset 0 0 10px var(--contrast-orange);
}

[id^="project-card-"].expanding {
    position: absolute;
    z-index: 10;
}

[id^="project-card-"].shrinking {
    position: absolute;
    z-index: 10;
}

[id^="project-card-"].expanded {
    grid-column: 1 / 9;
    grid-row: 2 / 7;
    min-height: 100%;
    min-width: 100%;
    padding: 1rem;
    border-radius: 0;

    display: grid;
    align-items: start;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 9fr 50px;
}

[id^="project-card-"] > .project-title {
    position: relative;

    grid-column: 1 / 6;
    grid-row: 1 / 2;
    padding-left: 2.5rem;
    text-shadow: inset 0 0 2px var(--contrast-orange),
                  0 0 2px var(--base-black);
    transition: margin 200ms ease-in-out;
}

[id^="project-card-"].expanded > .project-title {
    font-size: clamp(24px, calc(2.3rem + 0.25vw), 30px);

}

[id^="project-card-"].expanded > .project-description {
    opacity: 0.8;
    margin-left: 2rem;
}

.project-title::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 106%;
    bottom: -10px;
    left: -3%;
    background: var(--contrast-orange-faded);
}


[id^="project-card-"].expanding .project-title::after,
[id^="project-card-"].shrinking .project-title::after,
[id^="project-card-"].expanded .project-title::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 106%;
    bottom: -10px;
    left: -3%;
    background: var(--contrast-orange-faded);
    opacity: 0;
}

[id^="project-card-"] > .project-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    max-width: 30ch; 
    grid-column: 1 / 6;
    grid-row: 2 / 4;
    color: var(--pastel-blue);
}

/* Expanded Project Card */

[id^="project-card-"].expanded > .project-title {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}

[id^="project-card-"].expanded > .project-description {
    grid-column: 1 / 6;
    grid-row: 2 / 3;

}

/* Todo List */

[id^="project-card-"].expanded .project-todos-list-container.invisible {
    opacity: 0;
}

[id^="project-card-"].expanded .project-todos-list-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 35px;
    grid-auto-rows: 1fr;
    justify-self: start;

    width: 100%;
    height: 100%;
    border-radius: 1rem;
    padding: 1.3rem;
    opacity: 1;
    overflow: scroll;
    transition: opacity 300ms ease-in-out;
}

[id^="project-card-"].expanded .project-todos-list-container-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 6;
    grid-row: 3 / 4;
    width: 100%;
    height: 60vh;
    padding: 0.7rem;
    border-radius: 1rem;
    box-shadow: inset 0 0 1px var(--base-white),
                inset 0 0 3px var(--contrast-orange),
                inset 0 0 10px var(--contrast-orange-faded);
}

[id^="project-card-"].expanded .project-todos-list-container label {
    font-size: clamp(16px, calc(1.5rem + 0.3vw), 22px);
}

/* SCROLLBAR STYLING */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

#project-grid::-webkit-scrollbar-thumb {
  background: none;
  border-radius: 9999px;
  box-shadow: inset 0 0 1px white,
            inset 0 0 5px var(--contrast-yellow),
            inset 0 0 8px var(--contrast-yellow-glow);
}


#project-grid:hover::-webkit-scrollbar-thumb,
#project-grid:focus-within::-webkit-scrollbar-thumb {
  background: none;
  border-radius: 9999px;
  box-shadow: inset 0 0 1px white,
            inset 0 0 8px var(--contrast-yellow),
            inset 0 0 12px var(--contrast-yellow-glow);
}

::-webkit-scrollbar-corner {
    background: none;
    height: 0px;
}

/* Handle */
.project-todos-list-container:hover::-webkit-scrollbar-thumb,
.project-todos-list-container:focus-within::-webkit-scrollbar-thumb {
  background: none;
  scale: 1;
  border-radius: 9999px;
  box-shadow: inset 0 0 1px white,
            inset 0 0 5px var(--contrast-orange),
            inset 0 0 8px var(--contrast-orange-glow);
}

/* Handle on hover */
.project-todos-list-container:hover::-webkit-scrollbar-thumb:hover,
.project-todos-list-container:focus-within::-webkit-scrollbar-thumb:hover {
  scale: 1.3;
  box-shadow: inset 0 0 1px white,
            inset 0 0 8px var(--contrast-orange),
            inset 0 0 12px var(--contrast-orange-glow);
} 


.project-todos-list-title {
    grid-column: 1 / 2;
    margin-left: 2rem;
    margin-bottom: 1rem;
    text-shadow: inset 0 0 2px var(--contrast-orange),
                0 0 2px var(--base-black);
}

.project-todos-checkbox-title {
    grid-column: 5 / 6;
    margin-right: 1rem;
    text-align: right;
    margin-bottom: 1rem;
    text-shadow: inset 0 0 2px var(--contrast-orange),
                0 0 2px var(--base-black);
}

.project-todos-list {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin: 0;
    grid-column: 1 / 6;
}

.todo-check-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

/* Progress bar */
.progress-bar {
    position: relative;
    z-index: 2;
    height: 10px;
    width: 0;
    border-radius: 9999px;
    box-shadow: 0 0 5px hsla(0, 90%, 75%, 0.3),
                inset 0 0 2px white,
                inset 0 0 5px var(--contrast-red),
                inset 0 0 20px var(--contrast-yellow-faded);
    transition: width 300ms ease-in-out,
                box-shadow 300ms ease-in-out;
}

.progress-bar.full {
    background: var(--dark-sea-green);
    box-shadow: 0 0 5px hsla(150, 90%, 75%, 0.3),
                inset 0 0 2px white,
                inset 0 0 5px var(--base-white),
                inset 0 0 20px var(--contrast-yellow-faded);
}

.progress-bar-bg {
    background: var(--steel-teal);
    
    position: relative;
    border-radius: 9999px;
    top: 0;
    left: 0;
    width: 90%;
    height: 10px;
}

.project-utils {
    grid-column: 1 / 6;
    grid-row: 7 / 8;
    display: flex;
    gap: 1.5rem;
    width: 100%;
    padding: 0 1rem 0 2rem;
    align-items: center;
    justify-content: space-between;
}

[id^="project-card-"].expanded > .project-utils {
    grid-row: 4 / 5;
    padding: 0 2rem 0 4rem;
}

/* EXPANDED TODO CARD */
.todo-title-checkbox-container {
    grid-column: 1 / 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.todo-container.expanded > .todo-title-checkbox-container {
    border-radius: 1rem 1rem 0 0 ;
    background: var(--contrast-red-faded);
}

.todo-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--contrast-orange-glow);
    padding: 0 1rem;
    height: 4rem;

    transition: height 300ms ease-in-out,
                padding 300ms ease-in-out,
                align-items 300ms ease-in-out;
}

.todo-container.expanded {
    height: 48vh;
    align-items: start;
    padding-top: 1rem;
    border-radius: 1rem;
}

.todo-container:first-of-type {
    border-radius: 1rem 1rem 0 0;
}
.todo-container:last-of-type {
    border-radius: 0 0 1rem 1rem;
}
.todo-container:last-of-type:first-of-type {
    border-radius: 1rem;
}

.checkbox-container input[type="checkbox"] {
    position: relative;
    top: -35%;
    left: -40%;
    height: 32px;
    width: 32px;
    opacity: 0;
    z-index: 3;
}

.checkbox-container {
    position: relative;
    content: "";
    height: 26px;
    width: 26px;
    top: 0;
    left: 0;
    border-radius: 13px;
    border: 2px solid var(--contrast-red);
    box-shadow: inset 0 0 5px var(--contrast-red-glow);
    scale: 1;
    transition: scale 200ms ease-in-out,
                border 200ms ease-in-out,
                box-shadow 200ms ease-in-out;

}

.checkbox-container:hover,
.checkbox-container:focus-within {
    scale: 1.2;
}

.todo-check-image-left {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg) rotateZ(0deg);
    height: 3px;
    width: 22px;
    border: 2px solid var(--contrast-red);
    box-shadow: 0 0 4px var(--contrast-red-glow);

    transition: transform 200ms ease-in-out,
                left 200ms ease-in-out,
                width 200ms ease-in-out,
                border 200ms ease-in-out,
                box-shadow 200ms ease-in-out;
}

.todo-check-image-right {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg) rotateZ(0deg);
    height: 3px;
    width: 22px;
    border: 2px solid var(--contrast-red);
    box-shadow: 0 0 4px var(--contrast-red-faded);

    transition: transform 200ms ease-in-out,
                top 100ms ease-in-out,
                left 200ms ease-in-out,
                width 100ms ease-in-out,
                border 200ms ease-in-out,
                box-shadow 200ms ease-in-out;
}

.todo-check:checked ~ .todo-check-image-left {
    top: 50%;
    left: 58%;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg) rotateZ(180deg);
    height: 3px;
    width: 18px;
    border: 2px solid hsl(150, 90%, 70%);
    box-shadow: 0 0 4px hsla(150, 90%, 90%, 0.7);
}

.todo-check:checked ~ .todo-check-image-right {
    top: 50%;
    left: 10%;
    transform: rotate(45deg) rotateZ(180deg);
    height: 3px;
    width: 6px;
    border: 2px solid hsl(150, 90%, 70%);
    box-shadow: 0 0 4px hsla(150, 90%, 90%, 0.7);
}


.expanded-todo-info {
    grid-column: 1 / 6;
    display: grid;
    grid-template-columns: 150px 3fr;
    grid-auto-rows: 60px;
    gap: 0.5rem;
    opacity: 1;
    max-height: 45vh;
    justify-content: center;
    overflow: scroll;
}

.expanded-todo-info > h5 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.expanded-todo-info > h5 {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
}

.expanded-todo-info > p:not(:last-of-type) {
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    border-bottom: 2px solid var(--contrast-orange-faded);
}

.expanded-todo-info.invisible {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.todo-container.shrink {
    height: 0;
    overflow: hidden;
}


/* MODALS */

#create-project-modal-container,
#delete-project-modal-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: var(--shadow-blue-03);
    z-index: 100;
}

#create-project-title {
    margin-bottom: 1rem;
}

#create-project-form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px fit-content fit-content 50px 50px 1fr 50px;
    align-items: center;
    justify-content: center;
    min-height: 98vh;
    min-width: 99.5vw;
    background: var(--base-black);
    padding: 1rem 2rem;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 5px hsla(0, 0%, 50%, 0.7);
}

#create-project-form input[type="number"] {
    appearance: none;
}

#create-project-form > input:not([id^="todo-input-"]),
#create-project-form > label:not([id^="todo-input-"]),
#create-project-form > textarea:not([id^="create-project-todo-"]) {
    height: 50px;
    opacity: 1;

    transition: opacity 200ms ease-in-out,
        height 200ms ease-in-out;
}

#create-project-form.todos-counted > input:not([id^="todo-input-"]):not(input[type="number"]),
#create-project-form.todos-counted > label:not([id^="todo-input-"]):not(label[for="create-project-todo-count"]),
#create-project-form.todos-counted > textarea:not([id^="create-project-todo-"]) {
    opacity: 0;
    height: 0;
}

#create-project-form > #todo-input-container {
    height: 0;
    opacity: 0;
    transition: opacity 200ms ease-in-out,
            height 200ms ease-in-out;
}


#create-project-form [id^="todo-input-card-"] {
    height: 0;
    opacity: 0;
    transition: opacity 200ms ease-in-out,
            height 200ms ease-in-out;
}

#create-project-form.todos-counted > #todo-input-container {
    height: 60vh;
    opacity: 1;
}

#create-project-form.todos-counted > #todo-input-container > [id^="todo-input-card-"] {
    height: 50vh;
    opacity: 1;
    transition: opacity 200ms ease-in-out,
            height 200ms ease-in-out;
}

#create-project-form.todos-counted > #todo-input-container > [id^="todo-input-card-"] > text-area {
    height: 100px;
}
#create-project-title {
    grid-column: 1 / 6;
    text-align: center;
}

#create-project-form > label {
    font-family: 'Urbanist', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-column: 1 / 3;
}

#create-project-form > input,
#create-project-form > textarea {
    grid-column: 3 / 6;
}

#create-project-form > input[name="create-project-name"] {
    grid-row: 2 / 3;
}
#create-project-form > textarea[name="create-project-description"] {
    grid-row: 3 / 4;
}

#confirm-create-project-btn {
    grid-column: 2 / 3;
}

input.create-project-todo-input {
    min-height: 50px;
}

.warn-hl {
    color: hsl(0, 90%, 70%);
}

[name^="new-todo-name-"] {
    position: relative;
}

[name^="new-todo-name-"]::after {
    content: "HELLO!";
    position: absolute;
    inset: 0;
    color: hsl(0, 90%, 70%);
}

#cancel-create-project-btn {
    grid-column: 4 / 5;
}

#todo-input-container {
    grid-column: 1 / 6;
    position: relative;
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    min-height: 40vh;
}

#todo-input-container-title {
    margin-top: 2rem;
    grid-column: 1 / 4;
}

.create-project-todo-input {
    max-height: 30px;
}

.create-project-todo-textarea {
    max-height: 60px;
}

[id^="warn-"] {
    color: hsl(0, 90%, 72%);
    text-shadow: 0 0 1px var(--contrast-yellow);
    grid-column: 1 / 6;
    text-align: center;
}

[id^="todo-input-card-"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    left: 0;
    opacity: 1;
    width: 80vw;
    border: 1px solid var(--pastel-blue);
    padding: 2rem 3rem;
    border-radius: 1rem;
    box-shadow: inset 0 2px 10px var(--contrast-yellow-faded);
    transition: gap 200ms ease-in-out,
                opacity 250ms ease-in-out,
                left 350ms ease-in-out;
}

[id^="todo-input-card-"].hide-right {
    position: absolute;
    z-index: 101; 
    left: 150%;
    top: -0.1rem;
    opacity: 0;
    transition: opacity 250ms ease-in-out,
                left 350ms ease-in-out;
}


[id^="todo-input-card-"].hide-left {
    position: absolute;
    z-index: 101; 
    top: -0.1rem;
    left: -150%;
    opacity: 0;
}

.todo-input-card-title {
    grid-column: 1 / 3;
    text-align: center;
}

[id^="todo-input-card-"] > textarea {
    grid-column: 1 / 3;
}

#left-right-todo-btns-container {
    grid-column: 1 / 6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}


#delete-project-modal-inner {
    min-height: 30vh;
    min-width: 50vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background: var(--base-black);
    box-shadow: inset 0 2px 5px var(--contrast-red-glow),
                inset 0 0 2px var(--base-white),
                inset 0 0 10px var(--contrast-red-faded);
}

#delete-project-modal-title {
    grid-column: 1 / 6;
    text-align: center;
}

#confirm-delete-project-btn {
    grid-column: 2 / 3;
}

#cancel-delete-project-btn {
    grid-column: 4 / 5;
}

/* Media Queries */ 

@media (max-width: 650px) {
    [id^="todo-input-card-"] > input[name^="new-todo-"] {
        grid-column: 1 / 3;
    }

    [id^="todo-input-card-"] {
        gap: 0.3rem;
    }

}

@media (max-width: 500px) {
    #user-name,
    #user-name-mask {
        padding: 0;
    }
    #dashboard-header {
        padding: 0 1rem;
    }
}
